@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Playfair+Display&display=swap');

.App, main {
  display: flex;
  flex-direction: column;  
  max-height: 100vh;
}

.Subheader {
  font-family: 'Josefin Sans', sans-serif;
}

