.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  background-image: url('../../media/illustration-mediterranean-city_53876-147.jpg');
  background-size: cover;
} 

.dash-title{
  font-weight: 200;
  font-size: 1.2em;
}

.dash-header{
  padding: 10px 40px;
  text-align: right;
  width: 100%;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.language-score{
  width: 150px;
  display: flex; 
  flex-direction: row;
  justify-content: flex-end;
}

.dashboard-word-list {
  list-style: none;
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
  grid-template-rows: 150px 150px; 
  justify-content: center;
}


.dashboard-word{
  border: rgb(244, 226, 205) solid 1px;
  background-color: rgb(255, 255, 255);
  background-size: auto;
  margin: 15px;
  filter: drop-shadow(0 0 5px rgb(193, 183, 183));
}

.dash-footer{
  height: 160px;
  bottom: 0;
}

button{
  font-size: 1em;
  filter: drop-shadow(0 0 5px rgb(193, 183, 183));
}


@media screen and (max-width: 850px) {
  .dashboard-word-list{
    width: 90%;
    padding-right: 8%;
    grid-template-columns: 0.2fr 0.2fr;
    grid-template-rows: 140px 1fr; 
    margin: auto;
  }
  
  .dashboard-word{
    border: rgb(244, 226, 205) solid 1px;
    background-color: rgb(255, 255, 255);
    margin: 15px;
    filter: drop-shadow(0 0 5px rgb(193, 183, 183));
    min-width: 130px;
    min-height: 120px;
  }
}
/* 
@media screen and (max-width:800px){
  .dashboard{
    background-size: auto;
  }
} */
