
.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
  text-align: center;
  margin: 0px auto;
  width: 100%;
  background-image: url('../../media/capstone2-italy-banner2.jpg');
  background-repeat: no-repeat;
  background-size: 100% 40%;
  

  
} 

.language-score{
  display: flex;
  justify-content: space-evenly;
}


.dash-title{
  /* border: blue solid 3px; */
  padding-bottom: 100px;
  font-size: 3em;
  
  
}



.flag{
  height: auto;
  width: 100%;
}

.dashboard-word-list {
  list-style: none;
  padding: 50px 0px;
  width: 60%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
  grid-template-rows: 120px 1fr; 
  justify-content: center;
}

.start-learning{
 
  font-size: 1em;
}

.dashboard-word{
  /* border: green solid 3px; */
 padding: 0px 20px;
}

@media screen and (max-width: 850px) {
  .dashboard-word-list{
    grid-template-columns: 0.1fr;
  }
  
}